<!DOCTYPE html>

<html>

<head>
    <title>Lobby</title>
</head>

<body>
    <h1>Welcome to the lobby <span id="username">X</span>!</h1>
    <h4>Points: <span id="points">X</span>
    </h4>

    <h3>Active players: <span id="numOfActivePlayers1">X</span>
    </h3>

    <p>
        <strong>
            <span id="numOfReadyPlayers">X</span> / <span id="numOfActivePlayers2">X</span>
        </strong>
    </p>
    <button id="ready" onclick="toggleReady()">Ready</button>

    <input type="text" id="chatBox" placeholder="Type something...">
    <button id="Send" onclick="sendMessage()">Send</button>

    <h3>Chat</h3>
    <div id="Chat">
    </div>

    <script src="/static/lobby.js"></script>
    <script src="/static/chat.js"></script>
</body>

</html>
