<!DOCTYPE html>

<html>

<head>
    <link href="/static/login.css" rel="stylesheet">
    <title>Login Page</title>
</head>

<body>
    <h1>Welcome to Word Games</h1>
    <h2>Please enter your information</h2>

    <form id="loginForm">
        <input placeholder="Enter username" id="usernameInput" type="text">
        <input placeholder="Enter password" id="passwordInput" type="password">
        <input type="submit" value="Login">
    </form>

    <script src="/static/login.js"></script>
</body>

</html>
